.notification {
  padding-left: 10px;
  background-color: rgb(212, 212, 212);
  border-radius: 5px;
  font-size: 1rem;
  margin: 20px 0px;
}

.successful {
  border: 5px solid rgb(9, 195, 9);
  color: rgb(9, 195, 9);
}

.unsuccessful {
  border: 5px solid red;
  color: red;
}